.footer {
  background: #F0F0F4;
  margin-top: 80px;
}

.footer__bottom {
  padding: 48px 0 23px;
  display: flex;
  justify-content: center;
}

.footer__bottom-link {
  font-size: 10px;
  line-height: 12px;
  color: #48494d;
  margin: 0 40px;
}

.footer__top {
  padding-top: 43px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
}

.footer__top-newslatter.footer__top-item {
  width: 295px;
  margin-right: 50px;
}

.footer__top_title {
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}

.footer-form {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}

.footer-form__input {
  background-color: #fff;
  border: none;
  font-size: 14px;
  line-height: 17px;
  padding: 0 12px;

}

.footer-form__input::placeholder {
  color: #c4c4c4;
}

.footer-form__btn {
  text-transform: uppercase;
  padding: 10px 16px;
  border: none;
  background-color: #1c62cd;
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.12em;
  font-family: 'SFProDisplay-Semibold', sans-serif;
}

.footer__top-item {
  width: 200px;
}

.footer__list {

  font-size: 14px;
  line-height: 22px;
}

.footer__top-social.footer__top-item {
  width: 265px;
}

.social-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.social-list__item  {
  margin-right: 30px;
}