.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs__list-item {
  display: inline-block;
  padding-right: 15px;
  margin-right: 0px;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;


  //a {
  //  color: #c4c4c4;
  //}


  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 4px;
    background-image: url("../img/link-arrow.svg");
    width: 6px;
    height: 9px;
    //display: block;
  }

  &:last-child::after {
    display: none;
  }
}