.socials {
  display: flex;
  align-items: center;

  li {
    margin-right: 20px;
  }

  .socials_img {
    fill: $advantages-gray;
    width: 20px;
    height: 25px;


    &:hover {
      fill: $red;
    }
  }
}

@media (max-width: 580px) {

  .footer {

    .footer_wrap {
      justify-content: center;
      text-align: center;
    }

    .footer_left {
      flex-basis: 100%;
    }

    .footer_right {
      flex-basis: 100%;
      margin-top: 10px;
    }

    .footer_socials {
      justify-content: center;
    }
  }
}
