$white: #fff;
$black: #000;

$white-menu: #cbc6c0;
$gray-light: #cbc6c0;
$white-gray: #f4f5f9;

$red: #e74c3c;

$advantages-line: #e6e7eb;
$advantages-border_grey: #e5e5e5;

$advantages-gray: #999999;

$gray: #6a6a6a;

$servece_bg: #202020;






