$black: #000;
$white: #fff;
$red: #fe3232;

$primary: #e9eae2;
$colorText: #333333;
$second: #7bcbc1;
$activTextColor: #f8c255;
$navcolor: #f8c255;
$primary_yellow: #ebb240;
$bg_three: #dfe0d9;
$bg_four: #f7f7f3;
$bg_six: #eaeaea;
$bg_eight: #fcfcfc;
$bg_nine: #cecece;
$bg_ten: #ebb240;

